{{- $localLLM := .local_llm -}}
{{- $serverPort := $localLLM.serverPort -}}
{{- $modelAlias := $localLLM.modelAlias -}}
model = "gpt-5.5"
model_reasoning_effort = "medium"
personality = "pragmatic"

[features]
image_generation = false

[model_providers.llama_cpp]
name = "llama.cpp API"
base_url = "http://127.0.0.1:{{ $serverPort }}/v1"
env_key = "LLAMA_CPP_API_KEY"
wire_api = "responses"
stream_idle_timeout_ms = 10000000

[profiles.llama_cpp]
model_provider = "llama_cpp"
model = {{ $modelAlias | quote }}
web_search = "disabled"

[windows]
sandbox = "unelevated"
